<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script>window.actBlueConfig = {styleSheetHref: "https://raw.githubusercontent.com/bluetomatoes/actblue-testing/gh-pages/ab-styles.css"};</script>
    <script src="https://secure.actblue.com/cf/assets/actblue.js" async></script>

  </head>
  <body>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
         <div data-ab-form
 data-ab-token="zDZFQMP68XDJTAQhukMP7ntB"
 data-ab-height="auto"
>
  <!-- Fall-back content (in case the embeddable doesn't load) -->
  <a href="https://secure.actblue.com/donate/sunriseweb">Donate</a>
</div>
<!-- This div should be included in the page where you want the button to appear. -->
<div data-ab-button
 data-ab-token="zDZFQMP68XDJTAQhukMP7ntB"
>
  <!-- Fall-back content (in case the embeddable doesn't load) -->
  <a href="https://secure.actblue.com/donate/sunriseweb">Donate</a>
</div>

  

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
